<%- include('../includes/head.ejs')  %>

    <form action="/signup" method="POST" class="form-center" novalidate>
        <div class="row">
            <% if (errorMessage) { %>
                <div class="input-field col s12">
                    <div class="card-panel red lighten-2">
                        <span class="white-text"><%= errorMessage %></span>
                    </div>
                </div>
                <% } %>
                    <div class="input-field col s12">
                        <input placeholder="E-Mail..." name="email" id="email" type="email" value="<%= oldInput.email %>">
                        <label class="active" for="email">E-Main</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Password..." name="password" id="password" type="password" value="<%= oldInput.password %>">
                        <label class="active" for="password">Password</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Confirm Password..." name="confirmPassword" id="confirmPassword" type="password" value="<%= oldInput.confirmPassword %>">
                        <label class="active" for="confirmPassword">Confirm Password</label>
                    </div>
                    <div class="col s12">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="waves-effect waves-light btn red">Signup</button>
                    </div>
        </div>
    </form>

    <%- include('../includes/end.ejs')  %>