<%- include('../includes/head')  %>

    <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
        <div class="row">
            <% if (errorMessage) { %>
                <div class="input-field col s12">
                    <div class="card-panel red lighten-2">
                        <span class="white-text"><%= errorMessage %></span>
                    </div>
                </div>
                <% } %>
            <div class="input-field col s12">
                <input
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    placeholder="Enter Title..."
                    name="title"
                    id="title"
                    type="text"
                    value="<% if (editing || hasError) { %><%=  product.title  %><% } %>">
                <label class="active" for="title">Add Title</label>
            </div>
            <div class="input-field col s12">
                <input
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    placeholder="Enter Image URL..."
                    name="imageUrl"
                    id="imageUrl"
                    type="text"
                    value="<% if (editing || hasError) { %><%=  product.imageUrl  %><% } %>">
                <label class="active" for="imageUrl">Add Image URL</label>
            </div>
            <div class="input-field col s12">
                <input
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    placeholder="Enter Price..."
                    name="price"
                    id="price"
                    type="number"
                    step="0.01"
                    value="<% if (editing || hasError) { %><%=  product.price  %><% } %>">
                <label class="active" for="price">Add Price</label>
            </div>
            <div class="input-field col s12">
                <textarea
                    class="materialize-textarea <%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description"
                    data-length="120"
                    id="description"><% if (editing || hasError) { %><%=  product.description  %><% } %></textarea>
                <label class="active" for="description">Add Description</label>
            </div>
            <% if (editing) { %>
                <input type="hidden" name="productId" value="<%= product._id %>">
                <% } %>
                    <div class="col s12">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="waves-effect waves-light btn red">
                        <% if (editing) { %>Update Product<% } else { %>Add Product<% } %> 
                </button>
                    </div>
        </div>
    </form>
    <%- include('../includes/end')  %>