<%- include('../includes/head') %>
    <% if (products.length > 0) { %>
        <div class="row">
            <div class="col s12">
                <ul class="collection">
                    <% products.forEach((p) => { %>
                        <li class="collection-item overflow-hidden">
                            <form action="/cart-delete-item" method="POST" class="right">
                                <button class="waves-effect waves-light btn red" type="submit">Delete</button>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="productId" value="<%= p.productId._id %>">
                            </form>
                            <div class="overflow-hidden">
                                <%= p.productId.title %>
                                    (
                                    <%= p.quantity %> )
                            </div>
                        </li>
                        <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="waves-effect waves-light btn darken-3 amber">Order Now!</button>
                    </form>
                </div>
            </div>
        </div>
        <% } else { %>
            <h4>No Products in Cart!</h4>
            <% } %>
                <%- include('../includes/end') %>