<%- include('../includes/head') %>
    <% if (orders.length <= 0) { %>
        <h4>Nothing there.</h4>
        <% } else { %>
            <ul class="collection with-header">
                <% orders.forEach(order => { %>
                    <li class="collection-header active blue white-text">
                        <h6>Order - #
                            <%= order._id %>
                        </h6>
                    </li>
                    <% order.products.forEach(p => { %>
                        <li class="collection-item">
                            <%= p.product.title %> (
                                <%= p.quantity %>)</li>
                        <% }) %>
                            <% }) %>
            </ul>
            <% } %>
                <%- include('../includes/end') %>