<%- include('../includes/head') %>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %> " />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>
                            <%= product.title %>
                        </h3>
                        <p>
                            <%= product.description %>
                        </p>
                    </div>
                    <div class="card-action overflow-hidden">
                        <form action="/add-to-cart" method="POST" class="left">
                            <button class="waves-effect waves-light btn green right" type="submit">Add to Cart</button>
                        </form>
                        <h5 style="margin: 0;" class="secondary-content right">$
                            <%= product.price %>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/end') %>